body {
    font-family: Tahoma, Geneva, sans-serif;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin: 0;
}
.card {
            background: #b2d9c4;
            padding: 20px 23.5px;
            border-radius: 45px;
            box-shadow: 0 4px 15px rgba(54, 204, 209, 0.1);
            width: 320px;
            text-align: center;
        }
h1 {
    color: #44916f;
    margin-bottom: 1rem;
}

.indice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 250px;
  margin: 20px 40px;
}

.btn {
  display: block;
  text-align: center;
  padding: 12px 70px;
  background-color: #247d7f;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: #80b9c8;
  transform: scale(1.03);
}

.btn:active {
  transform: scale(0.98);
}